<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69338177227-c5p99ihe41pagupmknfl2crqbtd4k9ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69338177227-c5p99ihe41pagupmknfl2crqbtd4k9ah</string>
	<key>API_KEY</key>
	<string>AIzaSyBnfDWgeUdOWB3f9caub0mXOISLsWCy2dY</string>
	<key>GCM_SENDER_ID</key>
	<string>69338177227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomad</string>
	<key>PROJECT_ID</key>
	<string>login-505d6</string>
	<key>STORAGE_BUCKET</key>
	<string>login-505d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69338177227:ios:b75eb817eb1257ef5e854e</string>
</dict>
</plist>